@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --color-primary: #7380ec;
    --color-primary-light: #8f9afb;
    --color-primary-xlight: #aab2f9;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-success-dark: #07b67c;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #afbccc;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
    font-family: poppins, sans-serif;
}

a {
    color: var(--color-dark);
}

.brand-link:hover,
.brand-link {
    color: #6c757d;
}

.sidebar a {
    color: white;
}

.sidebar ul.nav a:hover {
    transition: all 300ms ease !important;
    color: var(--color-info-dark) !important;
    padding-left: 2rem;
}

.nav-pills .nav-item .active {
    background-color: var(--color-light);
    color: var(--color-primary);
}

.btn,
.card,
.info-box {
    border: none;
    box-shadow: var(--box-shadow) !important;
    border-radius: var(--border-radius-1);
}

ul.nav a,
label,
thead th,
tbody td,
.form-control,
.btn b,
.select2-selection__rendered,
.select2-results__option,
.dataTables_info,
.pagination,
.text-danger {
    font-size: 0.87rem !important;
}

.select2-selection__rendered,
.select2-selection--multiple {
    padding-left: 0.75rem;
    padding-top: 0.10rem;
}

.breadcrumb-item a {
    color: var(--color-primary);
}
.breadcrumb-item a:hover {
    color: var(--color-dark);
}

.bg-primary,
.btn-primary,
.user-panel {
    background-color: var(--color-primary) !important;
}

.bg-info {
    background-color: var(--color-info-dark) !important;
}

.bg-danger,
.btn-danger,
.alert-danger {
    background-color: var(--color-danger) !important;
}

.bg-success,
.btn-success,
.alert-success-dark {
    background-color: var(--color-success) !important;
}

.bg-warning,
.btn-warning {
    background-color: var(--color-warning) !important;
}
